<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/admin/login-submit" method="post"   >
    <table>
        <tr>
            <td>
                <h3>
                    Admin Login
                </h3>
            </td>
        </tr>
        <tr>
            <td>
                Enter email
            </td>
            <td>
                <input type="text" name="email" required >
            </td>
        </tr>
        <tr>
            <td>
                password
            </td>
            <td>
                <input type='password' name="password" required >
            </td>
        </tr>
        <tr>
            <td>
               <input type="submit" >
            </td>
            <td>
                <input type='reset'  >
            </td>
        </tr>
        <tr>
            <td><h1 style="color: red;" ><%=error%></h1></td>
         </tr>
    </table>
</form>
</body>
</html>