<link rel="stylesheet" href="/css/bootstrap.css" />
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if(b){ %>
      <li class="nav-item active">
        <a class="nav-link" href="/party/register">Add Party</a>
      </li>
      <% } else { %>
      <li class="nav-item">
        <a class="nav-link" href="/party/register">Add Party</a>
      </li>
      <% } %> <% if(a){ %>
      <li class="nav-item active">
        <a class="nav-link" href="/party/get-all">All Parties</a>
      </li>
      <% } else { %>
      <li class="nav-item">
        <a class="nav-link" href="/party/get-all">All Parties</a>
      </li>
      <% } if(c){ %>
      <li class="nav-item active">
        <a class="nav-link" href="/party/get-all" onclick="return false;"
          >Edit Party</a
        >
      </li>
      <% } else { %>
      <li class="nav-item">
        <a class="nav-link" href="/party/get-all" onclick="return false;"
          >Edit Party</a
        >
      </li>
      <% } %>
    </ul>
    <div class="my-2 my-lg-0">
      <a class="btn btn-primary" href="/admin/logout">Logout</a>
    </div>
  </div>
</nav>
<script src="/javascript/bootstrap.js"></script>
<script src="/javascript/jquery.js"></script>
